* {
    margin: 0;
    padding: 0;
    max-width: 1500px;
}

body {
    font-family: "bubblegum sans", sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    font-family: "bubbler one", sans-serif;
    background-color: #1e91d6;
    color: #fff;
    flex-flow: column;
    box-sizing: border-box;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
}

.motto {
    font-size: 1.5rem;
    font-style: italic;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e4cc37;
}

.navigation li {
    float: left;
}

.navigation a {
    float: left;
    display: block;
    font-weight: 750;
    color: #474c4f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

*/ .navigation a:hover {
    color: #fff;
    background-color: #0072bb;
    font-weight: 700;
}


/* ******************************************home ********************************************************* */

.hero {
    max-width: 100%;
    position: relative;
}

.container-med-row,
.container-low-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.75rem;
    color: #fff;
    background-color: #e4cc37;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container-med-row a {
    font-weight: 900;
    color: #474c4f;
}

.farmland img,
.fruit img,
.crate img {
    margin-left: auto;
    margin-right: auto;
}

.container-med-row h2,
p {
    padding: 0.5rem;
}

.blog p {
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
    text-align: left;
}

.blog li {
    white-space: normal;
}

.contact-info p {
    text-align: left;
}

h2,
h3 {
    text-align: center;
}


/* *****************************************product page********************************************** */

.product-list {
    background-color: #e4cc37;
}

.hover {
    position: absolute;
    background: #fff;
    opacity: 0.8;
    top: 65%;
    font-size: medium;
    padding: 1rem;
}

.img-container {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 2rem;
    background-color: #e4cc37;
}

.product-list {
    text-align: center;
}

main ul {
    columns: 4;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    list-style-type: none;
}


/* *****************************************activities page********************************************** */

.banner {
    position: absolute;
    background: #e4cc37;
    opacity: 0.8;
    top: 70%;
    right: 10%;
    font-size: 2rem;
    color: #fff;
}

.main {
    background-color: #1e91d6;
}

.activity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem;
    background-color: #32bea6;
}

.pic-start,
.pic-get,
.pic-tour {
    display: flex;
    justify-content: center;
}

.get h2,
.get p {
    grid-column: 2/3;
}

.pic-get {
    grid-column: 1/2;
    grid-row: 2/3;
}

.get picture {
    grid-column: 1/2;
    grid-row: 2/3;
}

.tour h2,
p {
    grid-column: 1/2;
    grid-row: 3/4;
}

.tour picture {
    grid-column: 2/3;
    grid-row: 3/4
}

form {
    align-items: center;
    background-color: #e4cc37;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input {
    width: 300px;
    box-sizing: border-box;
    border: 1px;
}

input:focus,
textarea:focus {
    border-color: #000
}


/* *****************************************footer********************************************** */

footer {
    background-color: #1e91d6;
    text-align: center;
    padding: 10px;
    color: #fff;
}

footer a {
    color: #fff;
}

.social-icons {
    grid-column: 2/3;
    padding: 1rem;
}

.copyright {
    grid-column: 1/2;
}