* {
    margin: 0;
    padding: 0;
}


body {
    font-size: 16px;
    font-family: "Noto Sans", sans-serif; 
    padding: 20px;
}



header,
footer {
    background-color: #1098f7;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid #1b4079;
}

nav {
    background-color: #bdbbb0;
}


nav ul {
    list-style-type: none;
    overflow: hidden;
}


nav ul li a {
    display: block;
    color: #1b4079;
    text-align: center;
    padding: 1rem;
    font-size: 26px;
}


h1, h2, h3 {
    color: #1b4079;
}

.hero {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #1b4079;
    background-color: #ffffff;
}

.pitch {
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: #1b4079;
}

.social_icon {
    padding: 0;
    float: right;
}

footer p {
    margin: 0;
}

