* {
    /* margin: 0;
            padding: 0; */
}

.page {
    max-width: 940px;
    margin: 0 auto;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    /* padding: 0; */
}

header,
nav {
    margin: 0 auto;
    max-width: 1250px;
}

header {
    background-color: #bdbbb0;
    display: flex;
    align-items: center;
}

header img {
    width: 125px;
    height: auto;
    padding: 1rem;
}

.heading {
    display: flex;
    flex-direction: column;
}

.heading h1 {
    font-size: 2rem;
    color: #1b4079;
    margin: 0;
}

.motto {
    font-style: italic;
    color: #000;
    font-size: 1rem;
    letter-spacing: 1pt;
}

.navigation {
    list-style: none;
    display: flex;
    background-color: #bdbbb0;
    text-align: center;
}

.navigation li {
    flex: 1;
}

.navigation a {
    display: block;
    color: #1b4079;
    padding: 1rem;
    text-decoration: none;
    white-space: nowrap;
    font-size: large;
}

.navigation a:hover {
    color: #1098f7;
    background-color: #bdbbb0;
    font-weight: 700;
}


/* DONT TOUCH ANYTHING ABOVE THIS LINE                           */

main {
    background-color: #f4f6f5;
}

.hero {
    max-width: 100%;
    position: relative;
}

.banner {
    position: absolute;
    background: #fff;
    opacity: 0.5;
    top: 70%;
    right: 10%;
    font-size: xx-large;
}

.pitch1,
.pitch2,
.pitch3 {
    display: grid;
    align-items: center;
    justify-content: center;
}

.pitch1 h2 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.pitch1 p {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 1rem;
}

.pitch1 picture {
    grid-column: 2/3;
    grid-row: 1/3;
}

.pitch2 h2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.pitch2 p {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1rem;
}

.pitch2 picture {
    grid-column: 1/2;
    grid-row: 1/3;
}

.pitch3 h2 {
    grid-column: 1/3;
}

.pitch3 p {
    padding: 1rem;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: larger;
    box-sizing: content-box;
    background-color: #885053;
    padding: 1rem;
}


/* *****************"Adventures" page*************************** */

.adventure {
    padding: 1rem;
    row-gap: 50px;
}

.trip {
    display: grid;
    grid-template-columns: repeat(4, [col] auto);
    grid-template-rows: repeat(1, [row] auto);
    align-items: center;
    /* border-style: solid;   */
    margin: 1rem;
}

.trip picture {
    grid-column: 1;
    grid-row: 1;
}

.triphead {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.triph2 {
    grid-column: 1 / 3;
    grid-row: 1;
}

.tripp {
    grid-column: 1 / 3;
    grid-row: 2;
    margin: 5px;
}

.box {
    grid-column: 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 1rem;
    justify-items: center;
}

.adult {
    grid-column: 1;
    grid-row: 1;
}

.youth {
    grid-column: 2;
    grid-row: 1;
}

.reserve {
    grid-column: 1 / 3;
    grid-row: 2;
}


/* ************************about us page*********************************** */

.theriver {
    max-width: 100%;
    position: relative;
}

.about_grid {
    display: grid;
    /* grid-template-columns: repeat(2, [col] auto);
    grid-template-rows: repeat(1, [row] auto); */
}

.boast {
    grid-column: 1 / 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.boast h2 {
    grid-column: 1 / 3;
    grid-row: 1;
}

.boast p {
    grid-column: 1 / 3;
    grid-row: 2;
}

.history {
    grid-column: 1 / 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.history h2 {
    grid-column: 1;
    grid-row: 4;
}

.history p {
    grid-column: 1;
    grid-row: 5;
}

.history picture {
    max-width: 100%;
    position: relative;
    grid-column: 2 / 3;
    grid-row: 3;
    align-items: center;
}


/* ***************************footer******************************************* */

footer {
    max-width: 1250px;
    background-color: #bdbbb0;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    color: #1b4079;
}

.copyright {
    grid-column: 1/2;
}

.social_icon {
    grid-column: 2/3;
    justify-content: right;
    padding: 1rem;
}