* {
    margin: 0;
    padding: 0;
}

header {
    margin: 10px;
    padding: 20px;
    border: 1px solid #1b4079;
    background-color: #1098f7; 
    
    font-size: 16px;
    font-family: "Quintessential", cursive;
    text-align: center;
    /*display: grid | -ms-inline-grid; */
}

body {
    margin: 10px;
    padding: 20px;
    background-color: #bdbbb0;
    font-family: "Quintessential", cursive;

}

footer {
    margin: 10px;
    padding: 20px;
    border: 1px solid #1b4079;
    background-color: #f26419;
    font-family: "Noto Sans", sans-serif;

}

h1, h2, h3 {
    color: #1b4079;
}

.hero {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #1b4079;
    background-color: #ffffff;
}

.pitch {
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: #1b4079;
}

.social_icon {
    padding: 0;
    float: right;
}

footer p {
    margin: 0;
}




/*body {
    background-color: #f26419;
    font-size: 16px;
}

header,
footer {
    background-color: #1098f7;
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    align-items: center;
    justify-content: center;
}

a {
    color: blueviolet;
}

/*step 5    class selectors*********************/

/*.page {
    max-width: 960px;
    margin: 0 auto;
}




margin: 10px;
    padding: 20px;
    border: 1px solid #1b4079;
    background-color: #1098f7;