* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    transition: 0.2s;
}

body {
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: bubblegum sans, sans-serif;
    letter-spacing: 0.03em;
}

.card {
    width: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.like {
    position: absolute;
    width: 50px;
    background: red;
    border-radius: 35%;
    color: #fff;
    right: 25px;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.like:hover {
    transform: scale(1.5);
}

.text {
    background: #fff;
    padding: 1rem;
}

h1 {
    margin: 0.5rem;
    text-align: center;
}

.specs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.specs p {
    padding: 1rem;
    font-variant: small-caps;
}

.specs a {
    text-align: center;
    font-size: .75rem;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #bbb;
    cursor: pointer;
    background-color: #eee;
}

.specs a:hover {
    background-color: #000;
    color: #fff;
}